body {
   text-align: center;
   font-family: 'Patua One', cursive;
   background-color: cornflowerblue;
}
a {
   color: black;
   font-size: 2em;
   position: absolute;
   text-align: center;
   left: 0;
   right: 0;
}
h1 {
   font-size: 6em;
   margin: 50px;
   position: relative;
}
h3 {
   font-size: 2em;
   margin-bottom: 25px;
}

.player {
   display: inline-block;
   margin: 0 120px;
}
.btn {
   display: inline-block;
   position: absolute;
}
.refresh {
   right: 8%;
}
.home {
   left: 8%;
}
.card {
   margin-top: 15px;
   background-color: grey;
   width: 200px;
}
.scoreP2 {
   padding-right: 10.5%;
   display: inline-block;
}
.scoreP1 {
   display: inline-block;
   padding-left: 27.5%;
}
